@font-face {
    font-family: "Norse Bold";
    src: url('Norsebold.otf')
}
  

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: Roboto;
}

.splash {
    position: relative;
    display: flex;
    overflow: clip;
    min-width: 300px;
    max-width: 35%;
}

#banner {
    position: absolute;
    height: 100px;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    top: 20%;
    padding: 20px;
}

#banner > h1 {
    color: white;
    font-family: 'Norse Bold';
    font-size: 5rem;
}

#odin-img {
    height: 100px;
}


.login-section {
    display: flex;
    flex: auto;
    flex-direction: column;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
    gap: 2rem;
}

.inp-single {
    display: flex;
    flex-direction: column;
    width: 15rem;
}

input {
    border-color: #E5E7EB;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}

.inp-label {
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-bottom: 3px;
}

#form-section {
    box-shadow: 0.1em 0.1em 0.3em -2px gray;
    padding-bottom: 30px;
}

#header-text {
    margin-top: 200px;
    width: 35rem;
}

.content-left-margin {
    margin-left: 50px;
}

#login-section {
    margin-top: 50px;
}

#login-section > button {
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 12px 36px 12px 36px;
}

#login-section > div {
    margin-top: 30px;
    font-weight: 500;
}